.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.top_line {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 40px;
    font-weight: 600;
  }
}

.quick_panel {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;

  img {
    cursor: pointer;
  }
}

.main_menu {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  padding-right: 400px;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  text-transform: uppercase;

  li {
    display: flex;
    align-items: center;
  }
}

.dropdown_menu_link {
  position: relative;
  cursor: pointer;
  
  .dropdown_menu {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0 15px 0 15px;
  }

  .main_menu {
    display: none;
  }
}
