@import "@/public/config_theme/config_theme.scss";

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.top_line {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 40px;
    font-weight: 600;
    color: white;
  }
}

.quick_panel {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;

  svg {
    fill: rgb(147, 147, 147);
    cursor: pointer;

    &:hover {
      fill: white;
    }
  }

  .hearts_icon {
    svg {
      &:hover {
        fill: #ff0099;
        filter: drop-shadow(0px 0px 2px rgb(255, 0, 149));
      }
    }
  }

  img {
    cursor: pointer;
  }
}

.main_menu {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-weight: 600;
  font-size: 16px;
  color: $main-text-color;
  padding-right: 400px;
  border-top: 2px solid rgba(255, 255, 255, 0.08);
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  text-transform: uppercase;

  .sale {
    color: #ff0099;
    filter: drop-shadow(0px 0px 2px rgb(255, 0, 149));

    &:hover {
      color: #ff0099;
      filter: none;
    }
  }

  li {
    display: flex;
    align-items: center;

    &:hover {
      color: $main-text-color-hover;
    }
  }
}

.dropdown_menu_link {
  position: relative;
  cursor: pointer;

  .dropdown_menu {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  .main_menu {
    display: none;
  }
}
