.wrapper {
  border: none;
  display: inline-flex;
  height: 36px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.9);

  color: #fff;
  font-size: 14px;

  font-weight: 400;
  line-height: 100%;

  cursor: pointer;

  &:hover .arrowWrapper {
    fill: white;
  }
}
