@import "@/public/config_theme/config_theme.scss";

.wrapper {
  .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  h1 {
    color: white;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    .products {
      gap: 10px;
    }
  }
}
