.main_slider__wrapper {
  position: relative;

  .main_slider__title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 30px;
    padding: 20px;
  }
  .main_slider {
    img {
      object-fit: cover;
      border-radius: 5px;
    }

    .slick-slide {
      div {
        height: 515px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main_slider__wrapper {
    .main_slider__title {
      font-size: 24px;
    }
  }
}
