.wrapper {
  display: flex;
  gap: 54px;
  margin-top: 40px;
}

.description {
  max-width: 400px;
  height: 628px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 32px;
  font-weight: 600;
}

.price {
  color: rgba(0, 0, 0, 0.9);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  margin-top: 15px;
}

.portraiture {
  color: rgba(0, 0, 0, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  margin-top: 28px;
  margin-bottom: 28px;
}

.size_table {
  margin-top: 40px;
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  margin-top: 40px;
  .buttonAddToCart {
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    svg {
      fill: rgba(255, 255, 255, 0.3);
    }
    span {
      color: rgba(255, 255, 255, 1);
    }

    &:active {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .buttonAddToFavorite {
    background: rgba(244, 244, 244, 1);
    transition: 0.5s;
    svg {
      fill: red;
    }
    span {
      color: rgba(0, 0, 0, 0.9);
    }
    &:active {
      background: rgb(180, 180, 180);
    }
  }
}

.item_added {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  background-color: rgba(0, 255, 21, 0.1);
}

.no_found {
  padding-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .no_found_title {
    font-size: 42px;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0 15px 0 15px;
    flex-direction: column;
  }
}
