@import "@/public/config_theme/config_theme.scss";

.wrapper {
  display: flex;
  gap: 54px;
  margin-top: 40px;
}

.description {
  max-width: 400px;
  height: 628px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.price {
  color: $main-text-color;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.portraiture {
  color: $main-text-color;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  margin-top: 28px;
  margin-bottom: 28px;

  word-break: break-all;
}

.size_table {
  margin-top: 40px;
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  margin-top: 40px;
  .buttonAddToCart {
    background: rgb(56, 56, 56);
    transition: 0.5s;
    svg {
      fill: rgba(255, 255, 255, 0.3);
    }
    span {
      color: rgba(255, 255, 255, 1);
    }

    &:hover {
      background: rgba(77, 77, 77, 0.9);
    }

    &.successfulAddition {
      svg {
        fill: #43a06c;
      }
    }
  }

  .buttonAddToFavorite {
    background: rgb(255, 171, 171);
    transition: 0.5s;

    svg {
      fill: #ff0099;
      filter: drop-shadow(0px 0px 1px rgb(255, 0, 149));
    }
    span {
      color: white;
    }

    &:hover {
      background: rgb(255 191 191);
    }
  }
}

.no_found {
  padding-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .no_found_title {
    font-size: 42px;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
}
