@import "@/public/config_theme/config_theme.scss";

.wrapper {
  padding-top: 30px;
  h1 {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.catalog_wraper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 100%;

    .catalog_wraper {
      width: 100%;
      gap: 10px;
      justify-content: center;
    }

    h1 {
    }
  }
}
