@import "@/public/config_theme/config_theme.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  h1 {
    color: $main-h1-color;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
  }
}

.catalog_wraper {
  display: flex;
  gap: 17px;
  flex-wrap: wrap;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 100%;

    .catalog_wraper {
      width: 100%;
      gap: 10px;
      justify-content: center;
    }

    h1 {
      margin-left: 10px;
    }
  }
}
