* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

button {
  border: none;
}
.main {
  min-height: calc(100% - 216px - 128px);
}

footer {
  height: 26px;
  margin-top: 100px;
  padding-bottom: 70px;
  padding-top: 20px;
  border-top: solid 2px rgba(0, 0, 0, 0.08);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Anglecia Pro Dsp";
  src: url("../fonts/AngleciaProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/AngleciaProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
