@import "@/public/config_theme/config_theme.scss";

.wrapper {
  padding-top: 30px;
  .empty_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    max-width: 289px;
    margin: 0 auto;
    .bag_icon {
      width: 40px;
      height: 40px;
      fill: white;
    }
    h3 {
      color: $main-text-color;
      font-family: Inter;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;

      margin-top: 32px;
    }

    span {
      display: inline-block;
      color: $main-text-color;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;

      margin-top: 12px;
    }
  }

  .info_card_wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;

    margin-top: 290px;
  }
}

.full_cart_wrapper {
  position: relative;

  .total {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;
    padding-top: 24px;

    .title {
      color: $main-text-color;
      font-size: 20px;
      font-weight: 500;
    }

    .price {
      color: $main-text-color;
      font-size: 24px;
      font-weight: 600;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: rgba(255, 255, 255, 0.08);
    }
  }
  .ordering_button {
    display: flex;
    width: 100%;
    height: 42px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: rgb(56, 56, 56);

    margin-top: 40px;

    &:hover {
      background: rgba(77, 77, 77, 0.9);
    }

    span {
      color: #fff;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0 15px 0 15px;
  }
}
