.wrapper {
  display: flex;
  gap: 54px;
  margin-top: 40px;
}

.description {
  max-width: 400px;
  height: 628px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 32px;
  font-weight: 600;
}

.price {
  color: rgba(0, 0, 0, 0.9);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  margin-top: 15px;
}

.portraiture {
  color: rgba(0, 0, 0, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  margin-top: 28px;
  margin-bottom: 28px;
}

.sizes_table {
  margin-top: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  margin-top: 40px;
  .buttonAddToCart {
    svg {
      fill: rgba(255, 255, 255, 0.3);
    }
    span {
      color: rgba(255, 255, 255, 1);
    }
  }

  .buttonAddToFavorite {
    background: rgba(244, 244, 244, 1);
    svg {
      fill: red;
    }
    span {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}
