.wrapper {
  display: flex;
  justify-content: space-between;
  .logo {
    font-weight: 600;
  }

  .sections {
    display: flex;
    gap: 24px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-weight: 600;
    line-height: 110%;

    span {
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}
