@import "@/public/config_theme/config_theme.scss";

.wrapper {
  display: flex;
  justify-content: space-between;

  .about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .logo {
      font-size: 20px;
      font-weight: 600;
    }
    span {
      font-size: 14px;
      color: #d6d6d68e;
    }
  }

  .sections {
    display: flex;
    gap: 24px;
    color: $main-text-color;
    font-size: 13px;
    font-weight: 600;
    line-height: 110%;

    span {
      cursor: pointer;

      &:hover {
        color: $main-text-color-hover;
      }
    }
  }
}
