@import "@/public/config_theme/config_theme.scss";

.wrapper {
  padding-top: 30px;

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
  }
  h1 {
    $main-text-color: #e1e3e6;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;

    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 15px 15px 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .products {
      // width: 330px;
      // align-items: center;
    }

    h1 {
    }
  }
}
