.wrapper {
  padding-top: 30px;

  .products {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 62px;
  }
  h1 {
    color: rgba(0, 0, 0, 0.9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;

    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
  }
  .products {
    width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
}
