.wrapper {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    text-align: left;
    margin-bottom: 15px;
  }
  h1 {
    color: rgba(0, 0, 0, 0.9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;

    margin-bottom: 40px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0 15px 0 15px;
  }
}
