.product_card__main_slider {
  width: 570px;
  height: 570px;

  .slick-list,
  .slick-track {
    height: 100%;
  }

  .product_card__main_slider__image {
    object-fit: cover;
  }

  .slick-arrow {
    z-index: 4;
    height: min-content;

    &.slick-prev {
      left: 20px;

      &::before {
        content: "\276E";
        opacity: 1;
        color: white;
        font-size: 46px;
        transition: 0.5s;
        font-family: "Zapf Dingbats" !important;
      }

      &:hover::before {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &.slick-next {
      right: 20px;

      &::before {
        content: "\276F";
        opacity: 1;
        color: white;
        font-size: 46px;
        transition: 0.5s;
        font-family: "Zapf Dingbats" !important;
      }

      &:hover::before {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.product_card__secondary_slider {
  margin-top: 30px;
  .slick-list {
    padding-top: 5px;
    width: 570px;
  }

  .slick-list .slick-track {
    .slick-slide {
      transition: 1s;
    }
    .slick-center {
      transform: scale(1.05);
    }
  }

  .product_card__secondary_slider__image {
    object-fit: cover;
  }
}

@media screen and (max-width: 900px) {
  .product_card__main_slider {
    width: 100%;

    .slick-list,
    .slick-track {
      height: 100%;
    }
    .product_card__main_slider__image {
      object-fit: contain;
    }
    .slick-slide img {
      object-position: center;
    }
  }
  .wrapper {
    padding: 0 10px 0 10px;
  }

  .product_card__secondary_slider {
    margin-top: 30px;
    .slick-list {
      padding-top: 5px;
      width: 100%;
    }

    .product_card__secondary_slider__image_wrapper {
      width: 50px !important;
      height: max-content;
    }
  }
}
