.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;

  h3 {
    position: absolute;
    margin-top: 82px;
    z-index: 10;
    color: #fff;
    font-size: 24px;
    font-family: "Anglecia Pro Dsp";
    line-height: 100%;
    text-transform: uppercase;
    transition: 1s;
  }

  &:hover h3 {
    transform: scale(1.05);

    // background: linear-gradient(
    //   90deg,
    //   rgba(255, 255, 255, 1) 17%,
    //   rgba(205, 34, 86, 1) 100%
    // );
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}
