.wrapper {
  transition: 0.5s;
  &:hover {
    // animation: heartbeat 1s infinite;

    @keyframes heartbeat {
      0% {
        transform: scale(1);
      }
      20% {
        transform: scale(1.05);
      }
      40% {
        transform: scale(1.1);
      }
    }
  }

  &.isActive {
    svg {
      fill: #ff0099 !important;
      filter: drop-shadow(0px 0px 2px rgb(255, 0, 149));
    }
  }
}
