@media screen and (max-width: 1920px) {
  .wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: fit-content;
    cursor: pointer;

    -webkit-mask-image: -webkit-radial-gradient(white, black);

    .description {
      position: absolute;
      z-index: 10;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      bottom: 20px;
      left: 20px;

      .price {
        color: rgba(255, 255, 255, 1);
        font-size: 22px;
        font-family: Inter;
        font-weight: 500;
        line-height: 100%;
        text-transform: uppercase;
      }

      .category {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        font-family: Inter;
        font-weight: 400;
        line-height: 100%;
      }
    }

    .image_wrapper {
      border-radius: 20px;
      width: 300px;
      height: 350px;
      object-fit: cover;
      transition: 1s;

      .product_image {
        object-fit: cover;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    border-radius: 5px;

    .image_wrapper {
      width: 100px;
      height: 116px;

      .product_image {
        width: 100px;
        height: 116px;
      }
    }

    .description {
      top: 68px;
      left: 5px;
      gap: 2px;
      .category {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
