@import "@/public/config_theme/config_theme.scss";

.wrapper {
  position: relative;
  cursor: pointer;
  max-height: 440px;
  height: 440px;
  width: 100%;
  transition: 0.3s;
  border-radius: 3px;
  overflow: hidden;

  &:hover {
    overflow: hidden;
    .product_image {
      transform: scale(1.01);
    }
  }
  .product_image {
    position: relative;
    background-color: rgb(247, 247, 247);
    object-fit: cover;
    transition: 0.5s;
    z-index: -1;
  }

  .like {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;
    background: rgb(0 0 0 / 33%);
    backdrop-filter: blur(4px);

    svg {
      fill: #ffffff;
      transform: scale(0.9);
    }
  }

  .description {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    padding: 10px 10px;
    // min-height: 40px;
    background: rgb(0 0 0 / 33%);
    backdrop-filter: blur(4px);

    // border-top: 1px solid #6666661f;

    .price {
      order: 1;
      font-size: 18px;
      font-weight: 600;
      line-height: 100%;
      text-transform: uppercase;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      // color: white;
      color: rgb(255, 255, 255);

      &.through {
        color: rgb(190, 190, 190);
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          border-radius: 20px;
          background-color: rgb(190, 190, 190);
        }
      }
    }

    .currency {
      margin-left: 2px;
      font-weight: 300;
    }

    .category {
      // order: -1;

      font-size: 16px;

      font-weight: 600;
      line-height: 100%;
      color: rgb(199 199 199);

      text-align: end;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      margin-left: 25px;
    }

    .price_sale {
      font-size: 24px;
      color: #ffffff;
      margin-left: 4px;
    }
  }
}

@media screen and (max-width: 980px) {
  .wrapper {
    height: 325px;
    .like {
      top: 1px;
      right: 1px;
      svg {
        transform: scale(0.8);
      }
    }

    .description {
      padding: 5px 10px;

      .category {
        font-size: 8px;
        color: rgba(255, 255, 255, 0.9);
        white-space: nowrap;
      }

      .price {
        font-size: 16px;

        &.through {
          font-size: 14px;
          &::after {
            height: 1px;
          }
        }
      }

      .price_sale {
        font-size: 16px;
        margin-left: 3px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    height: 300px;
  }
}

@media screen and (max-width: 770px) {
  .wrapper {
    height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    height: 225px;
  }
}

@media screen and (max-width: 610px) {
  .wrapper {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    height: 175px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    height: 150px;
  }
}
