@import "@/public/config_theme/config_theme.scss";

@media screen and (max-width: 1920px) {
  .wrapper {
    position: relative;
    border-radius: 5px;
    cursor: pointer;

    .image_wrapper {
      position: relative;
      border-radius: 5px;
      transition: 1s;
      max-width: 330px;
      max-height: 440px;

      .product_image {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }
      &:hover {
        transform: scale(1.05);
      }
    }

    .like {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 15;
    }

    .description {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      bottom: 20px;
      left: 20px;

      .price {
        color: $main-text-color;
        font-size: 22px;
        font-family: Inter;
        font-weight: 400;
        line-height: 100%;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &.through {
          color: rgb(255, 255, 255);
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 20px;

            // background-color: rgb(143, 143, 143);
            background-color: rgb(255, 255, 255);
          }
        }
      }

      .category {
        color: rgb(143, 143, 143);
        font-size: 14px;
        font-family: Inter;
        font-weight: 400;
        line-height: 100%;
      }

      .price_sale {
        font-size: 25px;
        color: #f93c00;
        font-weight: 600;
        margin-left: 4px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    border-radius: 5px;

    .like {
      top: 1px;
      right: 1px;
      svg {
        transform: scale(0.8);
      }
    }

    .image_wrapper {
      // width: 100px;
      // height: 116px;

      .product_image {
        // width: 100px;
        // height: 116px;
      }
    }

    .description {
      bottom: 5px;
      left: 5px;
      gap: 2px;
      .category {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.9);
      }

      .price {
        font-size: 14px;

        &.through {
          font-size: 12px;
          &::after {
            height: 1px;
          }
        }
      }

      .price_sale {
        font-size: 16px;
        margin-left: 3px;
      }
    }
  }
}
