@import "../../public/config_theme/config_theme.scss";

.wrapper {
  display: flex;
  padding-top: 70px;
  background-color: $main-bg;
  gap: 20px;
  justify-content: space-between;

  h1 {
    color: $main-h1-color;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
  }
}

.popular_block {
  margin-top: 90px;
}

.catalog_wraper {
  display: flex;
  gap: 62px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.first_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  .message {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      border-radius: 50%;
    }
  }
  p {
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #202020;
    font-size: 16px;
  }
  .sale {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: url("../../public/product/SuitsSets/23S32002_W_3.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    font-weight: 600;
  }
}
.slider_wrapper {
  width: 515px;
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0 15px;
    width: 100%;
    flex-direction: column;

    .catalog_wraper {
      width: 100%;
      gap: 10px;
      justify-content: center;
    }

    h1 {
      margin-left: 10px;
    }

    .sale {
      height: 200px;
      font-size: 32px;
    }
    .slider_wrapper {
      width: 100%;
    }
  }
}
