@import "../../public/config_theme/config_theme.scss";

.wrapper {
  display: flex;
  background-color: $main-bg;
  gap: 20px;
  justify-content: space-between;
}

.first_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  .message {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      border-radius: 50%;
    }
  }
  p {
    border-radius: 5px;
    padding: 10px;
    background-color: #202020;
    font-size: 16px;
  }
  .sale {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: url("../../public/product/SuitsSets/23S32002_W_3.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    padding: 20px;
  }
}

.slider_wrapper {
  width: calc(50% - 10px);
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 100%;
    flex-direction: column;

    .sale {
      height: 200px;
      font-size: 27px;
    }

    .first_column {
      order: 1;
    }
    .slider_wrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    .sale {
      font-size: 18px;
    }
  }
}
