.random_selection_block {
  display: flex;
  gap: 24px;
  margin-top: 90px;
}

.popular_block {
  margin-top: 90px;
}

.catalog_wraper {
  margin-top: 90px;
  display: flex;
  gap: 62px;
  flex-wrap: wrap;
}
