@import "@/public/config_theme/config_theme.scss";

.wrapper {
  max-width: 400px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  .compound {
    display: flex;
    flex-direction: column;
    gap: 16px;
    div {
      position: relative;

      font-size: 14px;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      white-space: nowrap;
      .line_wrapper {
        white-space: nowrap;
      }
      .property {
        margin-right: 8px;
        color: $main-text-color;
      }

      .property_dots {
        color: rgba(255, 255, 255, 0.15);
      }

      .value {
        position: absolute;
        background-color: $main-bg;
        right: 0;
        padding-left: 4px;

        color: $main-text-color;
      }
    }
  }
}
